.header-books img{
	display: inline-block;
	width: 22%;
	height: 10%;
	padding: 1.25%;

}

h1{
	text-align: center;
	border-bottom: #d3d3d3 1px solid;
}

header {
	border-bottom: #d3d3d3 1px solid;
}

/*menu bar*/

.menu-bar {
	width: 100%;
	text-align: center;
}

.menu-bar ul li {
	display: inline-block;
	list-style-type: none;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.menu-bar a {
	color: DarkGreen;
}